<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - <%= (typeof title != "undefined" ? title : "Admin Dashboard") %></title>

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/vendors/simple-datatables/style.css">

  <link rel="stylesheet" href="/vendors/chartjs/Chart.min.css">
  <link rel="stylesheet" href="/vendors/quill/quill.bubble.css">
  <link rel="stylesheet" href="/vendors/quill/quill.snow.css">
  <link rel="stylesheet" href="/vendors/apexcharts/apexcharts.css">

  <!-- Include base CSS (optional) -->
  <!-- <link rel="stylesheet" href="/vendors/choices.js/base.min.css" /> -->
  <!-- Include Choices CSS -->
  <link rel="stylesheet" href="/vendors/choices.js/choices.min.css" />


  <link rel="stylesheet" href="/vendors/perfect-scrollbar/perfect-scrollbar.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
</head>