<div id="sidebar" class='active'>
  <div class="sidebar-wrapper active">
    <div class="sidebar-header">
      <img src="/images/logo.svg" alt="" srcset="">
    </div>
    <div class="sidebar-menu">
      <!-- main list -->
      <ul class="menu">
        <!-- Menu Group title -->
        <li class='sidebar-title'>Main Menu</li>
        <!-- Menu with active -->
        <li class="sidebar-item active">
          <a href="/" class='sidebar-link'>
            <i data-feather="home" width="20"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- Menu with sub menus -->
        <li class="sidebar-item has-sub">
          <a href="#" class='sidebar-link'>
            <i data-feather="briefcase" width="20"></i>
            <span>Admin Management</span>
          </a>

          <ul class="submenu ">
            <li>
              <a href="/users">User</a>
            </li>
            <li>
              <a href="/roles">Role</a>
            </li>
            <li>
              <a href="/permissions">Permission</a>
            </li>
          </ul>

        </li>
        <!-- Menu with inactive -->
        <li class="sidebar-item">
          <a href="/settings" class='sidebar-link'>
            <i data-feather="layout" width="20"></i>
            <span>Setting</span>
          </a>
        </li>

      </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
  </div>
</div>